User Engagement analysis

In [94]:
import pandas as pd
import numpy as np

In [95]:
cdf = pd.read_csv('../data/clean_TellCo_data.csv')
cdf.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352.0,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,208201448079117.0,33664962239.0,35521209507511.0,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,13114483482878900224.0,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,208201909211140.0,33681854413.0,35794009006359.0,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,13114483484080500736.0,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,208200314458056.0,33760627129.0,35281510359387.0,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,13114483485442799616.0,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,208201402342131.0,33750343200.0,35356610164913.0,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,13114483499480700928.0,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,208201401415120.0,33699795932.0,35407009745539.0,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

Tracking user engagement using metrics:
* Session frequency: bearer id
* duration of the session : totla duratin of xDR
* session total traffic (DL and UL) : sum of Total DL and Total UL

In [96]:
# Adding two columns then creating new column and round floalt to 1 descimal places

pd.set_option('display.float_format', lambda x: '%.1f' % x)

cdf['Total_UL_and_DL'] = cdf['Total UL (Bytes)'] + cdf['Total DL (Bytes)']
cdf['Dur. (ms)'] = cdf['Dur. (ms)'] + cdf['Dur. (ms)']

In [97]:
# Creating new data from the cdf

clean_column = ['Bearer Id','Dur. (ms)','MSISDN/Number','Total_UL_and_DL']
user_engagement_data = cdf[clean_column]
user_engagement_data.head()

               Bearer Id  Dur. (ms)  MSISDN/Number  Total_UL_and_DL
0 13114483460844900352.0  3647304.0  33664962239.0      345629377.0
1 13114483482878900224.0  2730208.0  33681854413.0      707185356.0
2 13114483484080500736.0  2723524.0  33760627129.0      307690973.0
3 13114483485442799616.0  2643018.0  33750343200.0      889352748.0
4 13114483499480700928.0  2178018.0  33699795932.0      607681403.0

In [98]:
# Grouping Using MSISDN/Number
df = user_engagement_data.copy(deep= True)
aggregated_users = {'Bearer Id':'count','Dur. (ms)':'sum','Total_UL_and_DL':'sum'}

df = df.groupby(['MSISDN/Number']).agg(aggregated_users)
df

                   Bearer Id  Dur. (ms)  Total_UL_and_DL
MSISDN/Number
33601001722.0              1   233440.0      878690574.0
33601001754.0              1   362460.0      156859643.0
33601002511.0              1   269938.0      595966483.0
33601007832.0              1    99756.0      422320698.0
33601008617.0              2    74208.0     1457410944.0
...                      ...        ...              ...
33789996170.0              1    17620.0      714641641.0
33789997247.0              1   281976.0      480307335.0
3197020876596.0            1  1754770.0      232123971.0
337000037000919.0          1   506060.0      596287824.0
882397108489451.0          1  1739688.0      139153646.0

[107901 rows x 3 columns]

Top 10 user based on the metric

Besed on frequency of session(bearer id cound)

In [117]:

top_10_session = user_engagement_data['Bearer Id'].value_counts()
top_10_session.head(10)

13042425979269199872.0    16
13042425965944199168.0    10
13042425972278300672.0     9
13042425981873399808.0     9
13042425978774599680.0     9
13042425974582800384.0     9
13042425960483100672.0     8
13114483561758900224.0     8
13042425975793299456.0     8
13042425975039100928.0     8
Name: Bearer Id, dtype: int64

Based on Duration of top_10_session

In [118]:
top10_duration = user_engagement_data['Dur. (ms)'].value_counts()
top10_duration.head(10)

172798.0    21413
172800.0     6437
170998.0      188
172796.0      145
172794.0      110
171600.0      105
345600.0       92
172792.0       88
172788.0       83
171598.0       81
Name: Dur. (ms), dtype: int64

Based on sessions total traffic

In [125]:
top10_traffic = user_engagement_data['Total_UL_and_DL'].value_counts()
top10_traffic.head(10)

401522016.0    2
637726002.0    2
399340534.0    2
898627340.0    2
886519187.0    2
375293583.0    2
321294586.0    2
277865507.0    2
190017837.0    2
393917037.0    2
Name: Total_UL_and_DL, dtype: int64